//
//  Secrets.sample.xcconfig
//  ARABAH
//
//  Created by cqlm2 on 12/08/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


GOOGLE_PLACES_API_KEY = YOUR_GOOGLE_PLACES_API_KEY
SECRET_KEY = YOUR_SECRET_KEY
PUBLISH_KEY = YOUR_PUBLISH_KEY
APP_BASE_URL = YOUR_APP_BASE_URL
